<!DOCTYPE html>
<html>
<head>
  <title>Word Machine</title>

  <style>
    .display {
      float: left;
      margin-top: 10px;
      margin-bottom: 10px;
      white-space: pre-wrap;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }

    .section {
      float: left;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      border: 1px solid #000;
    }

    .button {
      float: left;
      text-align: center;
      width: 80%;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 5%;
      padding-right: 5%;
      margin-left: 5%;
      margin-right: 5%;
    }
  </style>

  <script src="/jquery-2.1.1.js"></script>
  <script src="/underscore.js"></script>
  <script src="/word-count.js"></script>

  <script>
    $( document ).ready(function() {
      $("#fetchButton").click(function() {
        $.ajax({
          "type" : "GET",
          "url" : "/",
          "dataType" : "json",
          "success" : function(data) {
            $("#fetchStatus").html("Success!");
            $("#fetch").html(JSON.stringify(data, null, 4));

            data.payload.word_count = wordCount(data.payload.text, data.payload.words, _);
            $("#post").html(JSON.stringify(data, null, 4));
          },
          "error" : function(data) {
             $("#fetchStatus").html(JSON.stringify(data, null, 4));
          }
        });
      });

      $("#postButton").click(function() {
        $.ajax({
          "type" : "POST",
          "url" : "/",
          "dataType" : "json",
          "contentType" : "application/json",
          "data" : $("#post").html(),
          "success" : function(data) {
            $("#postStatus").html("Success!");
          },
          "error" : function(data) {
             $("#postStatus").html(JSON.stringify(data, null, 4));
          }
        });
      });
    });
  </script>
</head>
<body>
  <div class="section">
    <pre id="fetchStatus" class="display"></pre>
    <pre id="fetch" class="display"></pre>
    <div class="button"><button id="fetchButton">Fetch Payload</button></div>
  </div>
  <div class="section">
    <pre id="postStatus" class="display"></pre>
    <pre id="post" class="display"></pre>
    <div class="button"><button id="postButton">Post Payload with Word Counts</button></div>
  </div>
</html>